<app-topnavbar></app-topnavbar>

   <div class="container mt-5">
      <div class="col-md-6 mx-auto text-center">
            <img src="assets/Logo.jpeg">
         <div class="header-title">
            
            <h3 class="wv-heading--subtitle">
             Registro
            </h3>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 mx-auto">
            <div class="myform form ">
               <form action="" method="post" name="login">
                  <div class="form-group">
                     <input type="text" name="name"  class="form-control my-input" id="inputNombre" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                     <input type="text" name="email"  class="form-control my-input" id="inputEmail" placeholder="Correo">
                  </div>
                  <div class="form-group">
                     <input type="text" name="contra"  class="form-control my-input" id="inputContra" placeholder="Contraseña">
                  </div>
                    
                  <!-- Boton de Registro-->
                  <div class="text-center ">
                     <input type="button" class=" btn btn-block send-button tx-tfm" value="Registrarme" (click)="registrarse()">                     
                  </div>
                  <br>
                  <br>
               </form>
            </div>
         </div>
      </div>
   </div>
